$error: #cd0800;
$success: #00cd91;

$white: #fff;
$gray-f6: #f6f6f6;
$gray-cc: #ccc;
$gray-ee: #eee;
$gray-44: #444;
$gray-88: #888;
$gray-99: #999;

$green-1: #00cd80;
$green-2: #00b470;
$green-3: #009a60;
$green-4: #008150;
